body {
  background-color: #181818;
  color: white;
  font-family: 'Helvetica', sans-serif;
  padding-left: var(--size-1);
}
body > * {
}
main {
  display: flex;
  
}
img {
  height: var(--scale-2);
  margin-right: var(--size-2);
  align-self: center;
}
li {
  list-style-type: none;
  display: flex;
  margin-bottom: var(--size-2);
}
#savedGamesContainer {
  font-size: var(--scale-2);
  padding: 0;
  margin: 0;
}
#deleteButton {
  display: none;
}
th {
  text-align:left;
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: var(--size-3);
  background-color: #211c0a;
  margin-left: calc(var(--size-1) * -2);
  width: 100%;
}
#openLinksButton {
  background: #bdd930;
  padding-left: var(--size-3);
  border: none;
  border-radius: 25px;
  color: black;
  font-size: var(--scale-2);
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#openLinksButton img {
  height: calc(var(--scale-2));
  margin-left: var(--size-2)
}
a {
  color: white;
  text-decoration: none;
}
