:root {
  --text-color: #1c1c1c;
  --background-color: #fbfbfb;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'General Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  margin: 0;
}
body > * {
}
main {
  background-color: var(--background-color);
  margin: 0 auto;
  max-width: 1280px;
}
section {
  margin: auto;
  width: 75%;
}

/* Saved Games Section  */
#saved-links-section {
}
#savedGamesContainer {
  font-size: var(--scale-5);
  padding: 0;
  margin: 0;
}
#savedGamesContainer li {
  list-style-type: none;
  display: flex;
  padding-bottom: var(--size-1);
  padding-top: var(--size-1);
  letter-spacing: -1px;

  opacity: 0;
  animation: fade-in 500ms forwards;
  animation-delay: calc(0.05s * var(--i));
}
li img {
  height: var(--scale-5);
  margin-right: var(--size-4);
  align-self: center;
}
li:hover {
  background: rgb(54, 54, 54);
}
li:hover #deleteButton {
  opacity: 1;
}
#deleteButton {
  margin-left: auto;
  opacity: 0;
}
#openLinksButton {
  font-family: 'General Sans', 'Helvetica', sans-serif;
  margin-top: var(--size-2);
  padding-bottom: var(--size-1);
  padding-left: var(--size-6);
  padding-right: var(--size-6);
  border: none;
  font-size: var(--scale-6);
  font-weight: 400;
  letter-spacing: -0.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);

  /* Rectangle 24 */

  background: linear-gradient(174.03deg, #bdd930 4.65%, #aec925 88.61%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(189, 217, 48, 0.1),
    0px 0px 0px 1px rgba(189, 217, 48, 0.25),
    inset 0px 1px 0px #8ca220,
    inset 0px 0px 0px 1px rgba(140, 162, 32, 0.5);
  border-radius: 44px;
}
#openLinksButton img {
  align-self: center;
  height: calc(var(--scale-6));
  margin-left: var(--size-3);
  margin-right: var(--size-3);
}

/* Category Gallery */
#category-section {
  margin-top: var(--size-8);
}
#category-section h1 {
  font-weight: 500;
  font-size: var(--scale-5);
  margin: 0;
  padding: 0;
  margin-right: var(--size-3);
  margin-top: var(--size-1);
  margin-bottom: var(--size-2);
}
.category-gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.category-game-item {
  font-size: var(--scale-5);
  font-weight: 400;
  letter-spacing: -0.5px;

  display: flex;
  align-content: center;

  border-radius: var(--radius-lg);

  padding: var(--size-2);
  padding-left: var(--size-1);
  padding-right: var(--size-3);
  margin-right: var(--size-3);
  margin-bottom: var(--size-2);

  white-space: nowrap;
  overflow: hidden;

  opacity: 0;
  animation: fade-in 500ms forwards;
  animation-delay: calc(0.05s * var(--i));

  background: linear-gradient(180deg, #f7f7f7 0%, #ededed 91.18%) !important;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(32, 32, 32, 0.1),
    0px 0px 0px 1px rgba(32, 32, 32, 0.25),
    inset 0px 1px 0px #ffffff,
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.category-game-item img {
  height: var(--size-9);
  padding-left: var(--size-1);
  padding-right: var(--size-2);
  mix-blend-mode: multiply;
}
.category-game-item a {
  line-height: var(--size-9);
}
.category-game-item button {
  display: none;
}
.category-game-item:hover button {
  display: flex;
}

/* Search */
#search-input {
  background: none;
  font-size: var(--scale-3);
  width: 100%;
}
#search-form {
}
#search-emoji {
  position: absolute;
  font-size: var(--scale-3);
  margin-left: calc(var(--scale-5) * -1);
}
#save-game-button {
  background: #bdd930;
  border: none;
  border-radius: 2px;
}
#search-results {
  width: 100%;
}
th {
  text-align: left;
}
td {
  padding-right: var(--size-2);
}
td img {
  padding-right: var(--size-3);
}
#custom-input-form h4 {
  margin: 0;
  margin-bottom: var(--size-1);
}
#custom-input-form input {
  background: none;
}
#clearButton {
  margin-top: var(--size-2);
}

footer {
  position: fixed;
  bottom: 0;
  padding-bottom: var(--size-3);
  background-color: #211c0a;
  margin-left: calc(var(--size-1) * -2);
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.green-category-button {
  background: linear-gradient(174.03deg, #bdd930 4.65%, #aec925 88.61%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(189, 217, 48, 0.1),
    0px 0px 0px 1px rgba(189, 217, 48, 0.25),
    inset 0px 1px 0px #aec925,
    inset 0px 0px 0px 1px rgba(174, 201, 37, 0.5);
}
.red-category-button {
  background: linear-gradient(180deg, #f58181 0%, #e24141 100%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(245, 129, 129, 0.1),
    0px 0px 0px 1px rgba(245, 129, 129, 0.25),
    inset 0px 1px 0px #e24141,
    inset 0px 0px 0px 1px rgba(226, 65, 65, 0.5);
}
.yellow-category-button {
  background: linear-gradient(180deg, #ffdb4a 0%, #ffd11a 100%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(255, 219, 74, 0.1),
    0px 0px 0px 1px rgba(255, 219, 74, 0.25),
    inset 0px 1px 0px #ffd11a,
    inset 0px 0px 0px 1px rgba(255, 209, 26, 0.5);
}
.blue-category-button {
  background: linear-gradient(180deg, #b9ecf5 0%, #7ce2f4 100%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(185, 236, 245, 0.1),
    0px 0px 0px 1px rgba(185, 236, 245, 0.25),
    inset 0px 1px 0px #7ce2f4,
    inset 0px 0px 0px 1px rgba(124, 226, 244, 0.5);
}
.pink-category-button {
  background: linear-gradient(180deg, #ffc8f9 0%, #ff97f5 100%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(255, 200, 249, 0.1),
    0px 0px 0px 1px rgba(255, 200, 249, 0.25),
    inset 0px 1px 0px #ff97f5,
    inset 0px 0px 0px 1px rgba(255, 151, 245, 0.5);
}
.orange-category-button {
  background: linear-gradient(180deg, #ffb246 0%, #fb970b 100%);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.08),
    0px 10px 6px rgba(0, 0, 0, 0.05),
    0px 17px 7px rgba(0, 0, 0, 0.01),
    0px 1px 0px rgba(255, 178, 70, 0.1),
    0px 0px 0px 1px rgba(255, 178, 70, 0.25),
    inset 0px 1px 0px #fb970b,
    inset 0px 0px 0px 1px rgba(251, 151, 11, 0.5);
}
